@using Umbraco.Cms.Web.Common.PublishedModels;
@using Newtonsoft.Json;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
}

<section>
	<h2>Dictionary</h2>
	<p>@(JsonConvert.SerializeObject(Model.Value<IEnumerable<KeyValuePair<string, string>>>("dictionary")))</p>
</section>
<section>
	<h2>Single Dropdown</h2>
	<p>@(JsonConvert.SerializeObject(Model.Value<string>("singleDropdown")))</p>
</section>
<section>
	<h2>Multiple Dropdown</h2>
	<p>@(JsonConvert.SerializeObject(Model.Value<ICollection<string>>("multipleDropdown")))</p>
</section>
<section>
	<h2>Keyed Check Box List</h2>
	<p>@(JsonConvert.SerializeObject(Model.Value<ICollection<string>>("keyedCheckBoxList")))</p>
</section>
<section>
	<h2>Keyed Radio Button List</h2>
	<p>@(JsonConvert.SerializeObject(Model.Value<string>("keyedRadioButtonList")))</p>
</section>